<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django - Object Detection</title>
    <style>
        .panel {
            width: 100%;
        }
    </style>
</head>
<body>

        {% if user.is_authenticated%}

            <div class="panel">
                <a style="float: right;" href="{% url 'login' %}">Log Out</a>
            </div>
            <h1>Welcome {{user.username}}</h1>
        {% else %}
            {% url "login" %}
        {% endif %}

</body>
</html>